<section id="sec2">
    <div class="container">
        <div class="section-title">
            <h2>Featured Categories</h2>
            <div class="section-subtitle">Catalog of Categories</div>
            <span class="section-separator"></span>
            <p>Explore some of the best tips from around the city from our partners and friends.</p>
        </div>
        <!-- portfolio start -->
        <div class="gallery-items fl-wrap mr-bot spad">
            <!-- gallery-item-->
            <div class="gallery-item">
                <div class="grid-item-holder">
                    <div class="listing-item-grid">
                        <img src="/static/images/home-1-1.jpg" alt="" />
                        <div class="listing-counter"><span>10 </span> Events</div>
                        <div class="listing-item-cat">
                            <h3><a href="{% url 'listings' 'conferences-and-events' %}">Conferences and Events</a></h3>
                            <p>Events, conferences and meetups</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item gallery-item-second">
                <div class="grid-item-holder">
                    <div class="listing-item-grid">
                        <img  src="/static/images/home-2.jpg"   alt="">
                        <div class="listing-counter"><span>6 </span> Locations</div>
                        <div class="listing-item-cat">
                            <h3><a href="{% url 'listings' 'restaurants-and-cafes' %}">Restaurants & Cafes</a></h3>
                            <p>List of restaurants adn cafes that acepts Monero</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item">
                <div class="grid-item-holder">
                    <div class="listing-item-grid">
                        <img  src="/static/images/home-6.jpg"   alt="">
                        <div class="listing-counter"><span>21 </span> Services</div>
                        <div class="listing-item-cat">
                            <h3><a href="{% url 'listings' 'services' %}">Services</a></h3>
                            <p>Freelancers and other professional services</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item">
                <div class="grid-item-holder">
                    <div class="listing-item-grid">
                        <img  src="/static/images/home-5.jpg"   alt="">
                        <div class="listing-counter"><span>7 </span> Sites</div>
                        <div class="listing-item-cat">
                            <h3><a href="{% url 'listings' 'online' %}">Online</a></h3>
                            <p>List of websites, e-commerce and online platforms</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
            <!-- gallery-item-->
            <div class="gallery-item">
                <div class="grid-item-holder">
                    <div class="listing-item-grid">
                        <img  src="/static/images/home-3.jpg"   alt="">
                        <div class="listing-counter"><span>15 </span> Locations</div>
                        <div class="listing-item-cat">
                            <h3><a href="{% url 'listings' 'shop-store' %}">Shop - Store</a></h3>
                            <p>Retail or physical stores</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- gallery-item end-->
        </div>
        <!-- portfolio end -->
        <a href="#" class="btn  big-btn circle-btn dec-btn  color-bg flat-btn">View All<i class="fa fa-eye"></i></a>
    </div>
</section>