            <!--footer -->
            <footer class="main-footer dark-footer" style="padding-top: 0px;">
                <div class="sub-footer fl-wrap" style="margin-top: 0px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-widget">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="copyright"> Monero.city 2018.  No Rights Reserved</div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#" target="_blank" ><i class="fa fa-facebook-official"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank" ><i class="fa fa-chrome"></i></a></li>
                                        <li><a href="#" target="_blank" ><i class="fa fa-vk"></i></a></li>
                                        <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!--footer end  -->
            <!--register form -->
            <div class="main-register-wrap modal">
                <div class="main-overlay"></div>
                <div class="main-register-holder">
                    <div class="main-register fl-wrap">
                        <div class="close-reg"><i class="fa fa-times"></i></div>
                        <h3>Sign In <span>City<strong>Book</strong></span></h3>
                        <div class="soc-log fl-wrap">
                            <p>For faster login or register use your social account.</p>
                            <a href="#" class="facebook-log"><i class="fa fa-facebook-official"></i>Log in with Facebook</a>
                            <a href="#" class="twitter-log"><i class="fa fa-twitter"></i> Log in with Twitter</a>
                        </div>
                        <div class="log-separator fl-wrap"><span>or</span></div>
                        <div id="tabs-container">
                            <ul class="tabs-menu">
                                <li class="current"><a href="#tab-1">Login</a></li>
                                <li><a href="#tab-2">Register</a></li>
                            </ul>
                            <div class="tab">
                                <div id="tab-1" class="tab-content">
                                    <div class="custom-form">
                                        <form method="post"  name="registerform">
                                            <label>Username or Email Address * </label>
                                            <input name="email" type="text"   onClick="this.select()" value=""> 
                                            <label >Password * </label>
                                            <input name="password" type="password"   onClick="this.select()" value="" > 
                                            <button type="submit"  class="log-submit-btn"><span>Log In</span></button> 
                                            <div class="clearfix"></div>
                                            <div class="filter-tags">
                                                <input id="check-a" type="checkbox" name="check">
                                                <label for="check-a">Remember me</label>
                                            </div>
                                        </form>
                                        <div class="lost_password">
                                            <a href="#">Lost Your Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab">
                                    <div id="tab-2" class="tab-content">
                                        <div class="custom-form">
                                            <form method="post"   name="registerform" class="main-register-form" id="main-register-form2">
                                                <label >First Name * </label>
                                                <input name="name" type="text"   onClick="this.select()" value=""> 
                                                <label>Second Name *</label>
                                                <input name="name2" type="text"  onClick="this.select()" value="">
                                                <label>Email Address *</label>
                                                <input name="email" type="text"  onClick="this.select()" value="">                                              
                                                <label >Password *</label>
                                                <input name="password" type="password"   onClick="this.select()" value="" > 
                                                <button type="submit"     class="log-submit-btn"  ><span>Register</span></button> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/plugins.js"></script>
        <script type="text/javascript" src="/static/js/scripts.js"></script>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
        <script src="/static/js/leaflet.markercluster.js"></script>
        <script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.50000.2.js"></script>
        {% if body_class == "home" %}
        <script>
            /* HOME */
            var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
                }),
                latlng = L.latLng(51.505, -0.09);

            var map = L.map('map-main', { center: latlng, zoom: 13, layers: [tiles] });
            var markers = L.markerClusterGroup();
            var markerList = [];

            addresses = [
                {% for listing in listings %}
                    [{{listing.map_lat}}, {{listing.map_long}}, "1"],
                {% endfor %}
            ]



            for (var i = 0; i < addresses.length; i++) {
                var a = addresses[i];
                var title = a[2];
                var marker = L.marker(L.latLng(a[0], a[1]), { title: title });
                marker.bindPopup(title);
                markerList.push(marker);
            }

            /*
            var map = L.map('map').setView([51.505, -0.09], 6);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.marker([51.5, -0.09]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([45, -0.09]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([80, -0.09]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([55, -2]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([55.5, -2]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([55.5, -2.3]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                L.marker([52, -0.59]).addTo(map).bindPopup('A pretty CSS3 popup.<br> Easily customizable.');
                */

            //console.log('start clustering: ' + window.performance.now());

            markers.addLayers(markerList);
            map.addLayer(markers);

            //console.log('end clustering: ' + window.performance.now());
        </script>
        {% endif %}

        {% if body_class == "add_listing" %}

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyBL0QddDfmsWkxypX9yH2yZfBc4JSwrXdI"></script>
        <script type="text/javascript">

        function resetRefreshButton(){
            $('.validate-address').removeClass("load-more-button");
            $(".validate-address .fa").removeClass("fa-circle-o-notch");
            $(".validate-address .fa").addClass("fa-refresh");
        }

        function placeToAddress(place){
            var address = {};
            place.address_components.forEach(function(c) {
                switch(c.types[0]){
                    case 'neighborhood': case 'locality':    // North Hollywood or Los Angeles?
                        address.City = c;
                        break;
                    case 'postal_code':
                        address.Zip = c;
                        break;
                    case 'country':
                        address.Country = c;
                        break;
                }
            });

            return address;
        }

        var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
        }),
        latlng = L.latLng(51.505, -0.09);

        var map = L.map('singleMap', { center: latlng, zoom: 13, layers: [tiles] });

        var markers = L.markerClusterGroup();
        var markerList = [];

        var geocoder = new google.maps.Geocoder();
        $('.validate-address').on('click', function(e){
            e.preventDefault();
            $('.map-error').html("");
            $('.map-error').hide();
            $('.validate-address').addClass("load-more-button");
            $(".validate-address .fa").addClass("fa-circle-o-notch");
            $(".validate-address .fa").removeClass("fa-refresh");

            var address = $('#full-address').val();
            console.log(address)
            if(address.length < 2){
                $('.map-error').html("<i class='fa fa-exclamation-triangle'></i> Address too short!");
                $('.map-error').show();
                resetRefreshButton();
                return false;
            }

            geocoder.geocode({'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();

                    $('#full-address').val(results[0].formatted_address);

                    map.panTo(new L.LatLng(latitude, longitude));

                    var title = "";
                    var marker = L.marker(L.latLng(latitude, longitude), { title: title });
                    markerList.push(marker);

                    markers.addLayers(markerList);
                    map.addLayer(markers);

                    var address_dict = placeToAddress(results[0])
                    console.log(address_dict)
                    $("#id_latitude").val(latitude);
                    $("#id_longitude").val(longitude);
                    try{
                        $("#id_city").val(address_dict["City"].long_name);
                    }catch(err){}
                    
                    try{
                        $("#id_zip_code").val(address_dict["Zip"].long_name);
                    }catch(err){}
                    
                    try{
                        $("#id_country").val(address_dict["Country"].long_name);
                    }catch(err){}

                    resetRefreshButton();
                    $('.validate-address-cover').hide();
                } else {
                    $('.map-error').html("<i class='fa fa-exclamation-triangle'></i> Geocode was not successful for the following reason: " + status);
                    $('.map-error').show();
                }
            });

        });

        $('#full-address').on('change, keyup, keydown', function(){
            resetRefreshButton();
            $('.validate-address-cover').show();
        });

        </script>
        {% endif %}

    </body>
</html>