{% include "header.html" %}
    <div id="wrapper">
        <!-- Content-->   
        <div class="content">
            <!-- home-map--> 
            <div class="home-map fl-wrap">
                <!-- Map -->
                <div class="map-container fw-map">
                    <div id="map-main"></div>
                </div>
                <!-- Map end --> 
                <div class="absolute-main-search-input">
                    <div class="container">
                        <div class="main-search-input fl-wrap">
                            <div class="main-search-input-item">
                                <select data-placeholder="All Categories" class="chosen-select" >
                                    <option>All Categories</option>
                                    <option>Conferences and Events</option>
                                    <option>Restaurants & Cafes</option>
                                    <option>Services</option>
                                    <option>Shop - Store</option>
                                </select>
                            </div>
                            <button class="main-search-button">Search</button>
                        </div>
                    </div>
                </div>
                <!-- home-map end-->   
            </div>
            <!-- section end -->

            {% include "category-grid.html" %}

            <!--section -->
            <section class="parallax-section" data-scrollax-parent="true">
                <div class="bg"  data-bg="/static/images/city-big-1.jpg" data-scrollax="properties: { translateY: '100px' }"></div>
                <div class="overlay co lor-overlay"></div>
                <!--container-->
                <div class="container">
                    <div class="intro-item fl-wrap">
                        <h2>Use Monero in your city</h2>
                        <h3>Find great places, bars, restaurants, shops that accepts Monero as payment.</h3>
                        <a class="trs-btn" href="#">Add Listing + </a>
                    </div>
                </div>
            </section>
            <!-- section end -->

            <!--section -->
            <section class="color-bg">
                <div class="shapes-bg-big"></div>
                <div class="container">
                    <div class=" single-facts fl-wrap">
                        <!-- inline-facts -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="254">154</div>
                                    </div>
                                </div>
                                <h6>Locations</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="12168">12168</div>
                                    </div>
                                </div>
                                <h6>Ratings</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="172">172</div>
                                    </div>
                                </div>
                                <h6>Searches</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->                            
                        <!-- inline-facts  -->
                        <div class="inline-facts-wrap">
                            <div class="inline-facts">
                                <div class="milestone-counter">
                                    <div class="stats animaper">
                                        <div class="num" data-content="0" data-num="732">732</div>
                                    </div>
                                </div>
                                <h6>Online sites</h6>
                            </div>
                        </div>
                        <!-- inline-facts end -->                             
                    </div>
                </div>
            </section>
            <!-- section end -->
        </div>
        <!-- Content end -->      
    </div>
{% include "footer.html" %}