{% include "header.html" %}
    <div id="wrapper">
        <!-- Content-->   
        <div class="content">
            <!-- home-map--> 
            <div class="home-map fl-wrap">
                <!-- Map -->
                <div class="map-container fw-map" style="height: calc(100vh - 80px);">
                    <div id="map-main"></div>
                </div>
                <!-- Map end --> 
                <div class="absolute-main-search-input">
                    <div class="container">
                        <div class="main-search-input fl-wrap">
                            <div class="main-search-input-item">
                                <select data-placeholder="All Categories" class="chosen-select" >
                                    <option>All Categories</option>
                                    <option>ATM</option>
                                    <option>Conferences and Events</option>
                                    <option>Restaurants & Cafes</option>
                                    <option>Services</option>
                                    <option>Shop - Store</option>
                                </select>
                            </div>
                            <button class="main-search-button">Search</button>
                        </div>
                    </div>
                </div>
                <!-- home-map end-->   
            </div>
            <!-- section end -->
        </div>
        <!-- Content end -->      
    </div>
{% include "footer.html" %}